.add_address {
    background: red;
    width: 70%;
    height: 3.5rem;
    line-height: 3.5rem;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
    border-radius: 20px
}